@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

:root {
    --white-nord: #ECEFF4;
    --grey-nord: #D8DEE9;
    --blue-nord: #3B4252;
    --blue-dark-nord: #2E3440;
    --blue-sky-nord: #88C0D0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}



/* Navigation Menu */
.navbar {
    /* border: solid 2px red; */
    background-color: var(--blue-nord);
    padding: 20px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--white-nord);
}

.navbar .menu {
    /* border: 2px solid purple; */
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar .menu a {
    text-decoration: none;
    font-size: 18px;
    color: var(--white-nord);
}

@media (hover: hover) {
    .navbar .menu a:hover {
        color: var(--blue-sky-nord);
    }

    .navbar .logo:hover {
        color: var(--blue-sky-nord);
    }
}




/* Hero */
.hero-container {
    /* border: solid 2px red; */
    background-color: var(--blue-nord);
    padding: 0px 130px 30px;
    display: flex;
    justify-content: space-between;
}

.hero-info-container {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-info-container h1 {
    /* border: 2px solid yellow; */
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 5px;
    color: var(--white-nord);
}

.hero-info-container p {
    /* border: 2px solid red; */
    margin-bottom: 12px;
    font-size: 18px;
    color: var(--white-nord);
}

.hero-info-container button {
    border: 2px solid var(--blue-sky-nord);
    background-color: var(--blue-sky-nord);
    color: var(--blue-dark-nord);
    font-size: 16px;
    font-weight: 700;
    width: 130px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-container img {
    /* border: 2px solid green; */
    width: 480px;
}

@media (hover: hover) {
    .hero-info-container button:hover {
        color: #ECEFF4;
    }
}




/* Info Section */
.info-section {
    /* border: 2px solid red; */
    padding: 30px 130px 90px;
    background-color: var(--white-nord);
}

.info-section h1 {
    /* border: 2px solid violet; */
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: var(--blue-dark-nord);
    margin-bottom: 40px;
}

.illustration-container {
    /* border: 2px solid yellow; */
    display: flex;
    gap: 35px;
}

.illustration {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration .place-holder {
    border: 4px solid var(--blue-sky-nord);
    background-color: var(--white-nord);
    width: 210px;
    height: 210px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.illustration .caption {
    text-align: center;
    font-size: 18px;
    color: var(--blue-dark-nord);
}



/* Quote Section */
.quote-section {
    padding: 90px 130px;
    background-color: var(--grey-nord);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    /* border: 2px solid red; */
    max-width: 700px;
}

.quote-container .quote {
    /* border: 2px solid greenyellow; */
    font-size: 30px;
    font-style: italic;
    font-weight: 300px;
    color: var(--blue-dark-nord);
}

.quote-container .author {
    /* border: 2px solid purple; */
    font-size: 24px;
    font-weight: 700;
    color: var(--blue-dark-nord);
    text-align: right;
}



/* Call Section */
.call-section {
    /* border: 2px solid red; */
    padding: 40px 130px;
    background-color: var(--white-nord);
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    /* border: 2px solid purple; */
    background-color: var(--blue-sky-nord);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 50px;
    border-radius: 8px;
}

.call-text {
    /* border: 2px solid green; */
    color: var(--white-nord);
}

.call-text h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.call-text p {
    font-size: 18px;
}

.call button {
    border: 2px solid var(--white-nord);
    background-color: var(--blue-sky-nord);
    color: var(--white-nord);
    font-size: 16px;
    font-weight: 700;
    width: 130px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

@media (hover: hover) {
    .call button:hover {
        border-color: #2E3440;
        color: #2E3440;
    }
}




/* Footer */
footer {
    background-color: #3B4252;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 20px;
}
